 <!-- Footer -->
 <footer >

     <div class="degrade_capa">


        <div class="container-top-footer align-items-center">
            <div class="container" >
                <div class="row social-icons" >
                    <div class="col-sm">
                        <h3 class="mb-0">Doble Electricidad para todos!</h3>
                    </div>
                    <div class="col-sm">
                        <a href="/" class="fb-ic">
                            Facebook
                        </a>
                        <a href="/" class="tw-ic">
                        Twitter
                        </a>
                        <a href="/" class="gplus-ic">
                            Google
                        </a>
                        <a href="/" class="li-ic">
                            Linkedin
                        </a>
                        <a href="/" class="ins-ic">
                            Instagram
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-body-footer">

            <div class="container ">

                <div class="row">

                    <div class="col-sm">
                        <h3 class="text-uppercase font-weight-bold">Doble Electricidad</h3>
                        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto">
                        <p>Disfruta de las ventajas de la doble electricidad con nosotros, no te arrepentirás. Contacta con nosotros!</p>
                    </div>
                    <div class="col-sm">                
                        <h3 class="text-uppercase font-weight-bold">Productos</h3>
                        <hr class="deep-purple mb-4 mt-0 d-inline-block mx-auto">
                        <p>
                            <a href="#">50% dec. 6 meses</a>
                        </p>
                        <p>
                            <a href="#">3000MWh 50% primer año</a>
                        </p>
                        <p>
                            <a href="#">Electicidad solar</a>
                        </p>
                        <p>
                            <a href="#">Puntos recarga</a>
                        </p>
                    </div>
                    <div class="col-sm">
                        <h3 class="text-uppercase font-weight-bold">Useful links</h3>
                        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto">
                        <p>
                            <a href="#">Sobre nosotros</a>
                        </p>
                        <p>
                            <a href="#">Productos</a>
                        </p>
                        <p>
                            <a href="#">Contacto</a>
                        </p>
                        <p>
                            <a href="#">Ayuda</a>
                        </p>
                    </div>
                    <div class="col-sm">
                        <h3 class="text-uppercase font-weight-bold">Direccion</h3>
                        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto">
                        <p>
                            icons Barcelona, C/ Bacelona 23, España
                        </p>
                        <p>
                            icons doble@electricidad.com
                        </p>
                        <p>
                            icons + 34 000 00 00
                        </p>
                        <p>
                            icons + 01 000 00 00
                        </p>
                    </div>

                </div>
            </div>

        </div>

        <div class="container-copyright">
            <div class="container ">
                <div class="row">
                    <div class="col-12">
                        <span class="copyright_footer">
                            <span>© 2021 Copyright</span> 
                            <span><a href="/">Doble Electricidad</a></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>

            <!-- <mat-grid-list [cols]="cols" rowHeight="60px">

                <mat-grid-tile class="container-top-footer" [colspan]="4" [rowspan]="1">
                    
                    <div class="container">

                        <div class="row d-flex align-items-center">
                            <div class="col-md-6 col-lg-5 text-md-left mb-4 mb-md-0">
                                <h3 class="mb-0">Doble Electricidad para todos!</h3>
                            </div>
                              <div class="social-icons col-md-6 col-lg-7 text-md-right">
                                <a href="/" class="fb-ic">
                                  Facebook
                                </a>
                                <a href="/" class="tw-ic">
                                 Twitter
                                </a>
                                <a href="/" class="gplus-ic">
                                  Google
                                </a>
                                <a href="/" class="li-ic">
                                  Linkedin
                                </a>
                                <a href="/" class="ins-ic">
                                  Instagram
                                </a>
                            </div>
                        </div>
                
                    </div>

                </mat-grid-tile>

                <mat-grid-tile class="container-body-footer" [colspan]="4" [rowspan]="4">
                    
                    <div class="container text-md-left">

                        <div class="row mt-3">
                    
                            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                                <h3 class="text-uppercase font-weight-bold">Doble Electricidad</h3>
                                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto">
                                <p>Disfruta de las ventajas de la doble electricidad con nosotros, no te arrepentirás. Contacta con nosotros!</p>
                            </div>
                
                        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                
                            <h3 class="text-uppercase font-weight-bold">Productos</h3>
                            <hr class="deep-purple mb-4 mt-0 d-inline-block mx-auto">
                            <p>
                                <a href="#">50% dec. 6 meses</a>
                            </p>
                            <p>
                                <a href="#">3000MWh 50% primer año</a>
                            </p>
                            <p>
                                <a href="#">Electicidad solar</a>
                            </p>
                            <p>
                                <a href="#">Puntos recarga</a>
                            </p>
                
                        </div>
                
                        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                
                            <h3 class="text-uppercase font-weight-bold">Useful links</h3>
                            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto">
                            <p>
                                <a href="#">Sobre nosotros</a>
                            </p>
                            <p>
                                <a href="#">Productos</a>
                            </p>
                            <p>
                                <a href="#">Contacto</a>
                            </p>
                            <p>
                                <a href="#">Ayuda</a>
                            </p>
                
                        </div>
                
                        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                
                            <h3 class="text-uppercase font-weight-bold">Direccion</h3>
                            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto">
                            <p>
                                icons Barcelona, C/ Bacelona 23, España
                            </p>
                            <p>
                                icons doble@electricidad.com
                            </p>
                            <p>
                                icons + 34 000 00 00
                            </p>
                            <p>
                                icons + 01 000 00 00
                            </p>
                
                        </div>
                
                        </div>
                
                    </div>


                </mat-grid-tile>

                <mat-grid-tile class="container-copyright" [colspan]="4" [rowspan]="1" >
                    <span class="copyright_footer">
                        <span>© 2021 Copyright</span> 
                        <span><a href="/">Doble Electricidad</a></span>
                    </span>
                </mat-grid-tile>

            </mat-grid-list> -->

        
     </div>
    
</footer>

