/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
    margin: 0; 
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    i{
        font-size: 21px;
    }
}
a { color: #fff !important; text-decoration: none;} 
a:hover { color: inherit;}
.body{
    position: relative;
    // padding-top: 60px;
    height: 100vh;
    width: 100%;
    min-height: calc(100% - 59px);
    max-height: calc(100% - 59px);
    color: #000;
    background: rgba(12, 34, 34, 0.6);
}
.body::before{
    content: "";
    position: absolute;
    opacity: 0.2;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: url("assets/images/green_energy.jpg");
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    // background-position: center;
    // background-size: cover;
    // background-position-y: -30px;
    // background-repeat: no-repeat;
}